{% extends 'base.html' %}
{% block content %}
<h1>My Shopping List</h1>

<div id="form-container">
    <form action="/shoppinglist" method="post">
        <label for="name_of_item">Item Name: </label>
        <input type="text" name="name_of_item" id="name_of_item">
        <label for="price">Price: </label>
        <input type="number" step="0.01" name="price" id="price">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity">
        <label for="bought">Bought? </label>
        <input type="checkbox" name="bought" id="bought" value="False">
        <input type="submit" value="Add Item">
    </form>
</div>

{% for item in items %}
<div id='list-container'>
    <p>{{item.name_of_item}}
        <br>Price: £{{item.price}}
        <br>Quantity: {{item.quantity}}
        <br>Bought?: {{item.bought}}
    </p>
</div>
{% endfor %}

<div id='total_price-container'>
    <p>
        £{{ total_price }}
    </p>
</div>

<div id='total_items-container'>
    <p>
        {{ total_items }}
    </p>
</div>


{% endblock  %}